#textTranslation {

}

#displayWordSound {
    -fx-background-color: #ffffff;
}

#mainPane {
    -fx-background-color: #ffefef;
}

#textTranslation {
    -fx-background-color: linear-gradient(to bottom left, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}

#editPane {
    -fx-background-color: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}

.btn {
    -fx-background-color: #023b6d;
}

.btn:hover {
    -fx-background-color: #307aa7;
}

#txtFieldSearch {
    -fx-background-color: #EFF3F6;
    -fx-text-fill: #000000
}

#btnSearch {

}

#btnVoice {

}

#btnSetting {
    -fx-background-color: #023b6d;

}
#btnSetting:hover{
    -fx-background-color: #307aa7;
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}

#btnStar:hover {
    -fx-background-color: red;
}

#btnSound {

}

#topApp {
    -fx-background-color: #023b6d;
}

#settingScene {
    -fx-background-image: url("Icon/SettingBackground.jpg");
}

.text-area {
    -fx-background-color: white;

    /* Shadow effect */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 5.0, 5.0);
}
.text-area .content {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.text-area:focused .content {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.textAreaInTextTranslation {
    -fx-background-color: rgba(53,89,119,0.4);
    -fx-text-fill: #fde0e0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 5.0, 5.0);
}

.textAreaInTextTranslation.scroll-pane {
    -fx-background-color: transparent;
}

.textAreaInTextTranslation .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.textAreaInTextTranslation .scroll-pane .content{
    -fx-background-color: transparent;
}
#miniSettingPane.toggle-button {
    -fx-alignment: center;
    -fx-font-family: "Helvetica";
    -fx-font-size: 20px;
    -fx-text-fill: 	snow;
}
#suggestionWordTableView {
    /*-fx-effect: dropshadow(gaussian, rgb(87, 119, 250), 10, 0, 5.0, 5.0);*/
    -fx-background-color: transparent;
    -fx-base: transparent;
    -fx-border-color: #fde0e0;
    -fx-text-fill: black;
    /*-fx-border-color: transparent 001A11FF transparent transparent;*/
}

#suggestionWordTableView .column-header{
    -fx-background-color: #dce0ff;
}


#suggestionWordTableView .cell {
    -fx-text-fill: #000000;
    -fx-border-color: transparent transparent #4a66fa transparent;
    -fx-border-width: 1px;
    -fx-font-size: 19px;
}

#suggestionWordTableView .cell:selected {

}

#suggestionWordCol .text {
    -fx-font-size: 19px;
}

#word {
    -fx-font-size : 50
}
#pronunciation {
    -fx-font-size : 28
}
#settingPane.label {
    -fx-font-size: 20px;
}
#settingPane.toggle-button.text {
    -fx-font-size : 20px;
}

.label {
    -fx-text-fill: #131625;
}